<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=8.0.23.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
<customErrors mode="Off" />
<webServices>
        <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="DBcon" connectionString="Server=MYSQL5038.site4now.net;Database=db_a726c9_prathee;Uid=a726c9_prathee;Pwd=6382756166@Dsp" />
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://pratheep001-001-site1.dtempurl.com/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
      <endpoint address="http://pratheep001-001-site1.dtempurl.com/WebService.asmx" binding="customBinding" bindingConfiguration="WebServiceSoap12" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: c8f707eb-07a6-42c3-94b0-e8a8b9e047da-->